@model IEnumerable<Product>
<h1>Shop</h1>
<p>Count: @Model.Count()</p>
@foreach (var product in Model)
{
    <div class="col-md-3">
        <div class="well well-sm">
            <img src="~/img/@(product.ArtId).jpg" class="img-responsive" alt="@product.Title" />
            <h3>@product.Category - @product.Size</h3>
            <ul class="product-props">
                <li>Price: @product.Price</li>
                <li>Artist: @product.Artist</li>
                <li>Title: @product.Title</li>
                <li>Description: @product.ArtDescription</li>
            </ul>
            <button id="buyButton">Buy</button>
        </div>
    </div>
}